.container {
  max-width: 1920px;
  width: 100%;
  margin: auto;
  border: 2px solid red;
  background-image: url("https://i.pinimg.com/originals/48/06/44/480644f775b73df64030458f5c04bf49.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* main_header */

.main_header {
  max-width: inherit;
  width: inherit;
  padding: 10px 3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* backdrop-filter: blur (5px); */
  /* position: fixed; */
  /* top: 0;
    left: 50%;
    transform: translateX(-50%); */
  /* position: relative; */
}

/* left_side */

/* burger-menubar */

.burger {
  position: absolute;
  top: 30px;
  left: 30px;
  color: white;
  font-size: 20px;
  border: 2px solid red;
  width: 60px;
  height: 60px;
  display: none;
}

.line {
  width: 90%;
  height: 2px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition-property: all;
  transition: 0.3s ease-in-out;
}

.line1 {
  top: 30%;
}

.line3 {
  top: 70%;
}

.activeBurger .line1 {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.activeBurger .line2 {
  display: none;
}

.activeBurger .line3 {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

@media (max-width: 480px) {
  .main_header_nav {
    display: none;
  }

  .burger {
    display: block;
  }

  /* .main_header {
        flex-direction: column;
    } */
  .main_header_ul {
    flex-direction: column;
    align-items: center;
  }

  .navigation.navActive {
    display: block;
  }
}

.main_header_ul {
  display: flex;
  column-gap: 30px;
  display: none;
}

.header_logo {
  height: 60px;
  width: 30%;
  /* background-color: #402101; */
}

.log_button {
  cursor: pointer;
  border: 0;
  border-radius: 30px;
  font-weight: 700;
  margin: 0 10px;
  width: 80px;
  padding: 10px 0;
  transition: 0.4s;
}

.reg {
  color: white;
  background-color: #5d12a3;
}

.log {
  color: #5d12a3;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(104, 85, 224, 1);
}

.log_button:hover {
  color: white;
  background-color: #5d12a3;
}

/* right_side */

.main_header_right_side {
  display: flex;
  column-gap: 16px;
  align-items: center;
}

.main_header_right_side_button {
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  border: none;
  background: transparent;
}

.shopping_button {
  color: white;
  border: none;
}

/* slider */

.slider-section {
  margin-top: 20px;
}

img {
  margin-top: 60px;
  width: 100%;
  height: 650px;
  object-position: center;
  object-fit: cover;
}

.arrow {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 35px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  
}

.slider-wraper {
  position: relative;
}

.arrow-left {
  left: 30px;
  background-color: rgb(72, 72, 72);
  border: none;

}

.arrow-right {
  right: 30px;
  background-color: rgb(72, 72, 72);
  border: none;
}

/* dots styles */
.dots-Wraper {
  display: flex;
  position: absolute;
  left: 50%;
  bottom: 50px;
  transform: translateX(-50%);
  
}

.dot-item {
  width: 25px;
  height: 25px;
  background-color: rgb(72, 72, 72);
  border: 3px solid white;
  border-radius: 50%;
  margin: 10px;
  cursor: pointer;
}

.dot-item:hover{
  background-color: white;
}

.bg-image {
  width: 100%;
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
}

.coldplayPIC {
  width: 500px;
  height: 400px;
  margin-left: 10px;
}

/* footer */

footer {

  display: flex;
  background-color: #3a0734;
 
  
}











/* form styles */

.form_section {
  background-image: url("https://wallpapers.com/images/hd/coldplay-ghost-stories-globe-cover-r91rgzv3z7yipm8d.jpg");

  position: relative;

  height: 750.7px;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formSectionDiv {
  backdrop-filter: blur(10px);
  color: #b182ab;
  border: 2px solid rgb(78, 101, 111);
  border-radius: 20px;
  width: 30%;
  margin: 20px 0 40px 0;
  text-align: center;
}

.formH2 {
  font-size: 100px;
  font-weight: normal;
  line-height: 100px;
  margin-bottom: 10px;
}

.formH3 {
  font-size: 25px;
  line-height: 30px;
}

.form_registration {
  border: 2px solid rgb(78, 101, 111);
  width: 30%;
  text-align: center;
  backdrop-filter: blur(10px);
  border-radius: 20px;
}

.textInput {
  width: 100%;
  text-align: center;
  height: 50px;
  font-size: 1.5rem;
  line-height: 2.5rem;
  letter-spacing: 0;
  font-weight: 400;
  background-color: transparent;

  border: none;
  border: 2px solid rgb(78, 101, 111);
}

::placeholder {
  color: #b182ab;
}

.formStyle {
  font-size: 1rem;
  line-height: 2.5rem;
  letter-spacing: 0;
  font-weight: 400;
  backdrop-filter: blur(10px);
  color: #b182ab;
  margin: 15px;
}

.submitbBTN {
  cursor: pointer;
  border: none;
  border: 5px solid rgb(78, 101, 111);
  border-radius: 30px;
  font-weight: 700;
  margin: 0 10px;
  width: 100px;
  padding: 10px 0;
  margin-bottom: 20px;
  color: #492945;
  position: relative;
}

.submitbBTN:hover {
  transform: scale(1.25);
  overflow: hidden;
}

/* albums */

.musicSECTION {

    width: 90%;
    margin:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 160px 1%;
    background-color: rgba(60, 55, 55, 0.4);
    backdrop-filter: blur(5px);
    border-radius: 20PX;
 

}

.musicSECTION_p {
    color: #c31db8;
    font-family: 'Inter', sans-serif;
    border: 5px solid #310828;
    padding: 20px;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 100px;
    

}

.musicSORT_section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.musicSORT {
  margin-top: 50PX;
    width: 95%;
   display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
   



}

.musicSECTIONtitle{
  width: 30%;
  background-color: #646264;
  text-align: center;
  padding: 16px;
  border-radius: 20px;
  margin-bottom: 20px;
  color: white;
  
}

.musicSECTIONtitle_h2{
  font-size: 25px;
  margin-bottom: 20px;
}
.musicSECTIONtitle_p{
  font-size: 10px;
}

.musicSECTION_img_div{
  width: 60%;
  background-color: #646264;
  padding: 20px;

}

.musicSECTION_img{
  
  width: 400px;
  height: 500px;
  border-radius: 20PX;
}

.wrapper{
  position: fixed;
  
  top: 700px;
  left: 850px;
  transform: translate(-50%, -50%);
}

.musicSECTIONBTN{
  font-size: 50px;
  height: 100px;
border: 5px solid #310828;
letter-spacing: 2px;
text-align: center;
position: relative;
transition: all .35s;
padding: 16px;
border-radius: 15px;
color: white;


}

.musicSECTIONBTN span{
  position: relative;
  z-index: 2;
}

.musicSECTIONBTN:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #ff003b;
  transition: all .35s;
}



.musicSECTIONBTN:hover:after{
  width: 100%;
}

/* accordion */

.accordion-body {
  
  width: 60%;
  font-size: 50px;
  margin-top: 10px;
  align-items: center;
  
  
  
 
}
.accordion-title {
  position: relative;
  text-align: center;
  color: white;
  margin-bottom: 20px;
}
.accordion-title::before {
  content:  "+";
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%); 
}
.content {
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: 0.5s;
  color: #b32b96;
 
  font-size: 20px;
  text-align: center;
  
  
}
.container-accor {
  border: 5px solid #310828;
  padding: 10px;
  margin-bottom: 30px;
}

.container-accor.activeNew .content {
  height: 750px;
}
.container-accor.activeNew .accordion-title::before{
  content: " - ";
}


/* accordion */

.latest_products_div1 {
    background-image: url("https://www.coldplay.com/wp/wp-content/uploads/2016/04/upup-1.jpg");
}

.latest_products_div2 {
    background-image: url("https://www.coldplay.com/wp/wp-content/uploads/2015/11/art_everyteardropisawaterfall.jpg");
}

.latest_products_div3 {
    background-image: url("https://www.coldplay.com/wp/wp-content/uploads/2015/11/art_lost.jpg");
}

.latest_products_div4 {
    background-image: url("https://www.coldplay.com/wp/wp-content/uploads/2015/11/art_vivalavida.jpg");
}

.latest_products_div1,
.latest_products_div2,
.latest_products_div3,
.latest_products_div4 {

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 315px;
    height: 260px;
    display: flex;
    align-items: end;
    transition: all 0.1s linear;
}

.latest_products_div1:hover,
.latest_products_div2:hover,
.latest_products_div3:hover,
.latest_products_div4:hover,
.homepage_latest_products_p:hover,
.button_fa-angles-left:hover,
.button_fa-angles-right:hover {
    box-shadow: 10px 10px 5px rgb(255, 255, 255);
    transform: scale(1.1);
}



.latest_products_p_cost {
    color: #504e4d;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: inline-flex;
    padding: 15px 17px 14px 17px;
    justify-content: center;
    align-items: flex-end;
    border-radius: 20px;
    background-color: #FFF;
    margin-bottom: 5px;
    margin-left: 5px;
}


.button_fa-angles-left,
.button_fa-angles-right {
    width: 44px;
    height: 44px;
    font-size: 30px;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: #444242;
}

.button_viewmore {
    
    padding: 15px 32px 14px 31px;
    border-radius: 10px;
    background: #3f3d3d;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    margin-top: 50px;
    
    
}


/* word tour */

.WORLD_TOUR_section {

  background-color: rgba(60, 55, 55, 0.4);
  backdrop-filter: blur(5px);
  border-radius: 20PX;

  
  border: 10px solid #310828;
  row-gap: 30px;
 
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 200px auto;
  border-radius: 20px;
  width: 80%;
}

.WORLD_TOUR_h2 {
  position: relative;
  text-align: center;
  color: #c31db8;
  font-size: 100px;
}

.tour_btn {
  width: fit-content;
  margin: 3rem auto 1rem;
  border: 0.1rem solid #b32b96;
  border-radius: 1rem;
  padding: 20px;
  /* transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1); */
  background-color: transparent;
}


.tour_countries {
  font-size: 16px;
  padding: 16px;
  margin: 0 0.5rem 1rem 0;
  border: 5px solid #310828;
  border-radius: 20px;
}

/* storeSection */

.storeSection {
  margin: 200px 0;
}

.storeSectionH2 {
  font-size: 6rem;
  font-weight: 400;
  line-height: 6rem;
  align-items: center;
  color: #492945;
  margin-bottom: 20px;
}

.storeSectionDiv {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.artworks_cards_figure1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  backdrop-filter: blur(10px);
  color: #b182ab;
  border: 1px solid rgb(78, 101, 111);
  width: 35%;
  padding: 10px;
  
}

.artworks_cards_img {
  width: 400px;
  height: 400px;
}

.artworks_cards_text {
  color: #b182ab;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 10px 0;

  
}

figcaption{
 
  text-align: center;
}

.artworks_cards_div {

  display: flex;
  justify-content: space-between;
  
  
}

.artworks_cards_p {
  color: #b182ab;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.fa-cart-plus {
  color: #3a0734;
  font-size: 24px;
}

.artworks_cards_button {
  border: none;
  background-color: transparent;
  color: #b182ab;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.fa-cart-plus:hover{
  color: #b182ab;
}

.storeBTN {
  border: none;
  background-color: #5d12a3;
  color: white;
  padding: 20px;
  align-items: center;
  border-radius: 20px;
  width: 100%;
  margin-top: 15px;
}

.btnDiv {
  text-align: center;
  backdrop-filter: blur(10px);
  width: 30%;
  margin: auto;
}


/* filter */

.filter-container{
  background-color: #430614;
  margin: 200px auto;
  text-align: center;
  width: 50%;
  padding: 30px;
  border: 10px solid ;
  border-radius: 20px;
  
 
}

.filter{
  color: white;
  font-size: 50px;
  margin: 40px;

}

.user-filter-ul{
  color: white;
  font-size: 30px;
  margin: 40px;
}